.registerDriver {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.registerDriver__funcBox {
    height: fit-content;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerDriver__inputTitle {
    height: 40px;
    width: 40px;
    background-color: #FDC029;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px 0 0 10px;
}

.registerDriver__input {
    outline: none;
    height: 40px;
    width: 250px;
    padding-left: 10px;
    border: none;
    border-radius: 0 10px 10px 0;
}

.registerDriver__buttonBox {
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .registerDriver__buttonBox__registerBtnBox {
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .registerDriver__buttonBox__registerBtn {
            font-size: 16px;
            font-weight: 600;
            width: 100%;
            text-transform: uppercase;
            color: white;
            background-color: #2D6438;
            padding: 15px 40px;
            border: none;
            border-radius: 10px;
        }
    }

    .registerDriver__buttonBox__otherBtn {
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        .registerDriver__buttonBox__otherBtn_backToMain {
            font-size: 12px;
            color: white;
            font-style: italic !important;
        }

        .registerDriver__buttonBox__otherBtn_changeToRegister {
            height: fit-content;
            width: fit-content;
            font-size: 12px;
            color: white;
            background-color: #C31F22;
            padding: 10px 40px;
            border: none;
            border-radius: 5px;
        }
    }
}