.registerLayout {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #468F40;
    background-image: url("../img/Bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 20px 0;
}

.registerLayout::before {
    content: "Nhóm 7 - Điện Toán Đám Mây";
    position: absolute;
    bottom: 20px;
    left: 50%;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 14px;
    word-break: keep-all;
    transform: translateX(-50%);
}

.registerLayout__titleBox {
    height: fit-content;
    width: 100%;
}

.registerLayout__titleBox__headerBox {
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0 20px 0;
}

.registerLayout__titleBox__headerBox::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 80%;
    background-color: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.registerLayout__titleBox__header {
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}

.registerLayout__titleBox__logoBox { 
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}

.registerLayout__titleBox__logo {
    height: 130px;
    width: auto;
}

/* INSTRUCTION PAGE */
.registerLayout__instructionForm {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.registerLayout__instructionForm.open {
    display: flex;
}

.registerLayout__instructionForm__view {
    height: fit-content;
    width: 90%;
    background-color: transparent !important;

    .registerLayout__instructionForm__view__titleBox {
        height: fit-content;
        width: 100%;
        background-color: transparent !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .registerLayout__instructionForm__view__titleBox--content {
        text-transform: uppercase;
        text-align: center;
        height: fit-content;
        width: fit-content;
        color: white;
        background-color: #FDC029;
        border-radius: 10px;
        padding: 10px 40px;
    }

    .registerLayout__instructionForm__view__instructionForm {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 30px;
    }

    .registerLayout__instructionForm__view__instructionBox {
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .registerLayout__instructionForm__view__instructionBox__iconBox {
            height: 40px;
            width: 40px;
            background-color: #FDC029;
            border-radius: 5px 0 0 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .registerLayout__instructionForm__view__instructionBox__contentForm {
            flex: 1;
            background-color: white;
            border-radius: 0 5px 5px 0;
            padding: 5px 5px 5px 20px;

            li {
                font-size: 14px;
                line-height: 1.5;
            }
        }
    }

    .registerLayout__instructionForm__view__buttonBox {
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        .registerLayout__instructionForm__view__buttonClose {
            height: 20px;
            width: 20px;
            font-size: 16px;
            font-weight: bolder;
            color: white;
            background-color: #C31F22;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            border-radius: 50%;
            border: 1px solid white;
        }
    }
}